<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <maginx>
            <ordered>
            	<enable>1</enable>
                <lastest_order_id>0</lastest_order_id>
            </ordered>
        </maginx>
    </default>
</config>
